/* Home.css 
 Add any custom styles fo the Home component here */

footer {
    text-align: center; 
    font-style: italic; 
}

 /* Check for any global styles affecting positioning */
header, nav, footer, .container {
  margin: 0;
  padding: 0;
}

#home_img {
  background-image: url('../public/home_img1.webp'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  height: 300px; 
  position: relative; 
  color: white; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-align: center;
}

#home_img_text {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  padding: 20px; 
  background-color:rgba(46, 139, 87, 0.5); 
  border-radius: 5px;
}