/* src/components/Navbar.css */

.navbar {
    background-color: #333;
    padding: 10px 20px;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
  }
  
  .nav-link:hover {
    color: #ddd;
  }
  