/* src/components/Profile.css */

.container {
  padding-top: 2rem; 
}

.form-control {
  margin-top: 0.5rem; 
}

.form {
  padding-top: 1rem; 
}

.react-select-container {
  margin-bottom: 1rem; 
}

.react-select_control {
  border-color: seagreen; 
  box-shadow: none; 
}

.react-select_control--is-focused {
  border-color: seagreen; 
}

.react-select_option--is-selected {
  background-color: seagreen;
  color: white; 
}

#profile_btn {
  background-color: seagreen;
  border-color: seagreen
}  

#profile_btn:hover {
  background-color: white; 
  color: seagreen; 
}
.success{
  color: green;
}
.error{
  color: red;
}