/*../Login.css 
Custom CSS for Login Page
*/

/*Login Button*/
#login_btn {
  background-color: seagreen;
  border-color: seagreen;
}
  
#login_btn:hover {
  background-color: white;
  color: seagreen;
}
  
/*Register Modal Button*/
#register_modal {
  color: seagreen; 
}

/*Regsiter Button*/
#register_btn {
  background-color: seagreen;
  border-color: seagreen;
}
  
#register_btn:hover {
  background-color: white;
  color: seagreen;
}

.modal-backdrop {
  background-color: rgba(0,0,0,0.5);/* Adjust opacity as needed */
}